
<%= simple_form_for(@video) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :file, as: :file %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<h2>Record your video</h2>
<button id="start">Start</button>
<button id="stop">Stop and save</button>
<div>
  <video id="live" style="border: 1px solid black" id="live" width="300" height="200" autoplay muted></video>
</div>

<script charset="utf-8">
    (async () => {
      const startBtn = document.querySelector('#start');
      const stopBtn = document.querySelector('#stop');
      const liveVideo = document.querySelector('#live');

      const stream = await navigator.mediaDevices.getUserMedia({ audio: true, video: true});
      liveVideo.srcObject = stream;

      startBtn.addEventListener('click', function(e) {
          e.preventDefault();
          // start recording
      });

      stopBtn.addEventListener(('click'), function(e) {
          e.preventDefault();
          // stop recording
      });
        })();
</script>
